# Ignore the specific CSV file
MindBigDataVisualMnist2021-Muse2v0.16Cut2.csv

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment and dependency files
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.tox/
.nox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pyenv
.python-version

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Log files
*.log
*.out
*.err

# System files
.DS_Store
Thumbs.db
